*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* header style starts here  */
.header-div-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li{
    display: inline-block;
    padding-right: 35px;
}
.menu ul li:last-child{
    padding-right: 0px;
}
.menu li{
    color: #424242;
    font-size: 16px;
    font-family: work sans;
}
.menu li a{
    color: #424242;
}
.header-top{
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 922px;
}
/* banner content  */
.banner-content{
    width: 868px;
    margin-top: 150px;
    margin-left: 150px;
    text-align: center;
}
.banner-content h1{
    font-family: work sans;
    font-weight: 700;
    font-size: 44px;
    color: #131313;
}
.banner-content p{
    width: 868px;
    font-family: work sans;
    font-weight: 400;
    color: #727272;
    margin: 32px 0px;
}
/* primary button */
.primary-button{
    padding: 15px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
/* banner image */
.header-top{
    position: relative;
    z-index: 1;
}
.banner-image{
    position: absolute;
    width: 1140px;
    top: 500px;
}
/* feature section starts here  */
.feature-section{
    margin-top: 200px;
}
.first-image img{
    width: 250px;
    height: 250px;
}
.image-grid{
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}
.feature-flex-controls{
    display: flex;
    justify-content: space-between;
}
.right-side{
    margin-top: 180px;
}
/* feature style starts here  */
.loved-feature-section{
    margin-top: 170px;
}
.feature-grid{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}
.feature-title-flex{
    display: flex;
    /* justify-content: space-between; */
}
.vl{
    border-left: 6px solid #FF900E ;
    height: 80px;
}
.feature-title h1{
    color: #131313;
    font-size: 35px;
    margin-left: 20px;
}
.single-feature{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
    width: 406px !important;
}
.single-feature p{
    width: 405px !important;
}
.single-feature:last-child{
    margin-bottom: 0px;
}
.single-feature-content{
    padding: 25px 15px;
}
.left-grid{
    /* width: 50%; */
    margin-right: 70px;
}
.right-grid img{
    width: 600px;
    height: 800px;
    position: relative;
}
.experience{
    background-color: #FF900E;
    text-align: center;
    /* width: 242px; */
    padding: 25px; 
    border-radius: 5px;
}
.experience{
    position: absolute;
    margin-top: -80px;
    margin-left: -90px;
}
/* some fact starts here  */
.some-fact-section{
    margin-top: 130px;
}
.some-title h3{
    color: #131313;
    font-size: 35px;
    font-weight: 700;
}
.some-title p{
    width: 400px;
    color: #727272;
    margin-top: 10px;
    margin: 25px 0px;
}
.single-fact{
    text-align: center;
}
.single-fact-content{
    padding: 15px 30px ;
}
.single-fact h1{
    font-size: 35px;
    margin: 10px 0px;
}
.single-fact-content h5{
    font-size: 18px;
    color: #727272;
}
.single-fact{
    border: 1px solid #FF900E;
    border-radius: 5px;
}
.fact-flex-controls{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
/* sponsors section  */
.primary-title{
    text-align: center;
    width: 410px;
    margin: 0 auto;
    margin-top: 100px;
}
.primary-title h1{
    font-size: 35px;
}
.primary-title p{
    width: 406px;
    color: #727272;
    margin-top: 10px;
    margin-top: 25px;
}
.sponsor-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.sponsor-flex img{
    color: #727272;
    /* mix-blend-mode: luminosity; */
    /* filter: brightness(60%); */
    /* mix-blend-mode: luminosity; */
    filter: grayscale(100%) !important;
}
.copyright{
    margin-top: 100px;
    background-color: #fff4e7;
    font-size: 16px;
    color: #424242;
    font-family: work sans;
    width: 100%;
}
.copyright p{
    padding: 20px 0px;
    text-align: center;
    margin: 0 auto;
}

/* Extra animation */
.single-fact:hover{
    background-color: rgb(18, 207, 113);
    /* color: #333; */
    transition: all 0.5s ease-out;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border: none;
}